@use 'config/mixin' as mixin;

.container {
	height: 100vh;
	@include mixin.flex(flex, row, nowrap, center, center, 1rem);
	background-color: var(--text-color);
}

.form-container {
	max-width: 90%;
	width: 25rem;
	padding: 1.5rem;
	border-radius: 0.35rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	overflow: hidden;
	background-color: var(--title-color);
	@include mixin.flex(flex, column, nowrap, start, start, 2rem);
}
.form-title {
	color: var(--container-color);
}
form {
	width: 100%;
}
button {
	width: 100%;
	padding: 1.25rem;
	margin-bottom: 0.675rem;
	border-radius: 1.8rem;
}

mat-form-field {
	width: 100%;
	margin-bottom: 1rem;
}
