<div class="container">
	<div class="form-container">
		<h1 class="form-title">{{ 'Sign-in' | titlecase }}</h1>
		<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input
						matInput
						formControlName="email"
						placeholder="Ingrese su email"
						type="email"
						value="gustavocaqui94@gmail.com"
					/>
					<mat-icon matSuffix fontIcon="person" />
					<mat-error *ngIf="hasError('email')">{{ errorMessage('email') }}</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field appearance="outline">
					<mat-label>Contraseña</mat-label>
					<input
						matInput
						formControlName="password"
						placeholder="Ingrese su contraseña"
						[type]="hide ? 'password' : 'text'"
						value="123456789"
					/>
					<button
						type="button"
						mat-icon-button
						matSuffix
						(click)="hide = !hide"
						[attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide"
					>
						<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					</button>
					<mat-error *ngIf="hasError('password')">{{ errorMessage('password') }}</mat-error>
				</mat-form-field>
			</div>
			<div>
				<button mat-raised-button color="primary" type="submit">
					{{ 'Sign-in' | titlecase }}
				</button>
			</div>
		</form>
	</div>
</div>
<gac-loader *ngIf="isLoading"></gac-loader>
